.card {
  width: 80%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;

  & .icon {
    position: absolute;
    left: -10px;
    top: -10px;
    background: #333;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}

.chip>img {
  background: #333;
  padding: 6px;
}

input[type="search"] {
  border: none !important;
}

input[type=search]:focus {
  background: transparent !important;
  background-color: transparent !important;
  border-bottom: none !important;
  border-bottom-color: none !important;
  box-shadow: none !important;
}
