<div class="chip-container flexible centerize no-back no-height">
  <mz-chip
    [close]="true"
    (delete)="onDelete('client')">
    <img src="assets/person.png">
    User
  </mz-chip>
  <mz-chip
    [close]="true"
    (delete)="onDelete('business')">
    <img src="assets/business.png">
    Business
  </mz-chip>
  <mz-chip
    [close]="true"
    (delete)="onDelete('advertiser')">
    <img src="assets/advertiser.png">
    Advertiser
  </mz-chip>
  <mz-chip *ngIf="keyword != ''" [close]="true" (delete)="onClear()">
    <img src="assets/search.png">
    {{ keyword }}
  </mz-chip>
  <mz-input-container>
    <input mz-input placeholder="Keyword..." type="search" [(ngModel)]="keyword" (keyup)="onSearch($event)">
  </mz-input-container>
</div>
<div class="break" small></div>
<div class="flexible no-back">
  <mz-card *ngFor="let faq of faqs; let i = index" id="{{faq.param}}" class="card" [horizontal]="true" [hoverable]="false">
    <mz-card-title>
      <div class="material-icons icon" *ngIf="faq.type.includes('advertiser')">video_library</div>
      <div class="material-icons icon" *ngIf="faq.type.includes('client')">person</div>
      <div class="material-icons icon" *ngIf="faq.type.includes('business')">store</div>
      <div class="material-icons icon" *ngIf="faq.type.includes('all')">public</div>
      {{ faq.title }}
    </mz-card-title>
    <mz-card-content [innerHTML]="faq.answer">
    </mz-card-content>
  </mz-card>
</div>
