h1, h2, h3, h4, h5, h6 {
  font-size: initial;
}

.left-legal {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20vh;
}

.left-legal > h3 {
  opacity: 0.4;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #663399;
  cursor: pointer;
  padding-left: 20%;
  font-size: initial;
}

.left-legal[active="disclaimer"] > h3[disclaimer] {
  opacity: 1;
}

.left-legal[active="privacy"] > h3[privacy] {
  opacity: 1;
}

.left-legal[active="terms"] > h3[terms], .left-legal[active="cookies"] > h3[cookies], .left-legal[active="dmca"] > h3[dmca], .left-legal[active="advGuide"] > h3[advGuide], .left-legal[active="clientGuide"] > h3[clientGuide], .left-legal[active="busiGuide"] > h3[busiGuide] {
  opacity: 1;
}

.left-legal > h3:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .left-legal::after {
    content: ">";
    position: fixed;
    right: 10px;
    top: 65px;
    font-size: 2rem;
    color: #663399;
  }

  .left-legal {
    position: relative;
    justify-content: flex-start;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    overflow: scroll;
    flex-basis: 100%;
  }

  .left-legal > h3 {
    opacity: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #663399;
    cursor: pointer;
    padding-left: 0;
    min-width: calc(100vw - 20px);

    & > a {
      width: 100%;
    }
  }

  .right-legal {
    flex-basis: 100% !important;
    max-height: 72vh !important;

    & iframe {
      position: relative;
      top: -80px;
    }
  }
}

.right-legal {
  flex-basis: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow: scroll;
  max-height: 73vh;
}

.right-legal iframe {
  width: 100%;
  height: 100vh;
  border: none;
}

.right-legal > div {
  width: 100%;
  height: auto;
}

.right-legal > iframe.hidden, .right-legal > div.hidden {
  display: none;
}

.guidelines {
  width: 70% !important;
  padding: 50px 10px 0px;
  margin: 0 auto;
}

.guidelines > p, .guidelines > .not-bold, .guidelines li {
  color: #333;
}

.guidelines > p, .guidelines li {
  font-size: 14px;
}

.guidelines > ol {
  margin-left: 30px;
}

.guidelines ol[nested] {
  margin-left: 60px;
}

.guidelines ol[nested] i {
  color: #663399;
}

.guidelines .enjoy {
  width: 100%;
  color: #663399;
  text-align: center;
}
