<div class="loader" [class.loaded]="loaded"></div>
<div class="flexible">
  <div class="left-legal" [attr.active]="active">
    <h3 privacy (click)="active = 'privacy'"><a primary routerLink="./" fragment="privacy-policy" translate>privacy-policy</a></h3>
    <h3 terms (click)="active = 'terms'"><a primary routerLink="./" fragment="terms-of-use" translate>terms-of-use</a></h3>
    <h3 disclaimer (click)="active = 'disclaimer'"><a primary routerLink="./" fragment="disclaimer" translate>disclaimer</a></h3>
    <h3 cookies (click)="active = 'cookies'"><a primary routerLink="./" fragment="cookies">Cookies Policy</a></h3>
    <h3 dmca (click)="active = 'dmca'"><a primary routerLink="./" fragment="dmca" translate>dmca</a></h3>
    <br/>
    <h3 advGuide (click)="active = 'advGuide'"><a primary routerLink="./" fragment="advertiser-guidelines" translate>advGuide</a></h3>
    <h3 busiGuide (click)="active = 'busiGuide'"><a primary routerLink="./" fragment="business-guidelines" translate>busiGuide</a></h3>
    <h3 clientGuide (click)="active = 'clientGuide'"><a primary routerLink="./" fragment="client-guidelines" translate>clientGuide</a></h3>
  </div>
  <div class="right-legal">
    <div [class.hidden]="active !== 'advGuide'" class="guidelines advertiser-guidelines" [innerHTML]="guidelines.advertiser">

    </div>
    <div [class.hidden]="active !== 'busiGuide'" class="guidelines advertiser-guidelines" [innerHTML]="guidelines.business">

    </div>
    <div [class.hidden]="active !== 'clientGuide'" class="guidelines client-guidelines" [innerHTML]="guidelines.client">

    </div>
    <div [class.hidden]="active !== 'dmca'" class="guidelines dmca" [innerHTML]="guidelines.dmca">
    </div>
    <div [class.hidden]="active !== 'privacy'" style="overflow:auto;-webkit-overflow-scrolling:touch">
      <iframe (load)="loaded = true" src="https://app.termly.io/document/privacy-policy/968c9358-e990-4281-9c03-a281803ffd3c" frameBorder="0">
          <p>{{'no-iframe-support' | translate}} <a href="https://app.termly.io/document/privacy-policy/968c9358-e990-4281-9c03-a281803ffd3c" translate>click-instead</a></p>
      </iframe>
    </div>
    <div [class.hidden]="active !== 'terms'" style="overflow:auto;-webkit-overflow-scrolling:touch">
      <iframe src="https://app.termly.io/document/terms-of-use-for-saas/749bc103-95f6-455e-bda7-7154b572ba0b" frameBorder="0">
        <p>{{'no-iframe-support' | translate}} <a href="https://app.termly.io/document/terms-of-use-for-saas/749bc103-95f6-455e-bda7-7154b572ba0b" translate>click-instead</a></p>
      </iframe>
    </div>
    <div [class.hidden]="active !== 'cookies'"  style="overflow:auto;-webkit-overflow-scrolling:touch">
      <iframe src="https://app.termly.io/document/cookie-policy/f659f0c1-6866-4fd7-84de-0b7acec1ffa2" frameBorder="0">
        <p>{{'no-iframe-support' | translate}} <a href="https://app.termly.io/document/cookie-policy/f659f0c1-6866-4fd7-84de-0b7acec1ffa2" translate>click-instead</a></p>
      </iframe>
    </div>
    <div [class.hidden]="active !== 'disclaimer'"  style="overflow:auto;-webkit-overflow-scrolling:touch">
      <iframe src="https://app.termly.io/document/disclaimer/09668428-b7b4-47eb-8196-eac4199783af" frameBorder="0">
        <p>{{'no-iframe-support' | translate}} <a href="https://app.termly.io/document/disclaimer/09668428-b7b4-47eb-8196-eac4199783af" translate>click-instead</a></p>
      </iframe>
    </div>
  </div>
</div>
