<div class="flexible">
  <div class="device-container">
    <img pop class="device" src="https://res.cloudinary.com/aurodim/image/upload/h_600,f_auto/mercial/static/iphone-mercial" alt="device image">
  </div>
  <div class="text-container">
    <h2 class="title" cursive>Mercial</h2>
    <h3 class="subtitle"><b [innerHTML]="'appSlogan' | translate"></b></h3>
    <p class="text" [innerHTML]="'appDescription' | translate"></p>
    <h3 class="banner" clickable (click)="downloadModal.openModal()">
      Download Now!
    </h3>
  </div>
</div>

<mz-modal #downloadModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>I am a...</h4>
  </mz-modal-header>
  <mz-modal-content>
    <mz-collapsible
      [mode]="'accordion'"
      [popout]="true">
      <mz-collapsible-item [active]="false">
        <mz-collapsible-item-header>
          Client
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Mercial is available as a Progressive Web App (PWA)! Simply install it on your homescreen and enjoy!
          <br>
          <br>
          <a href="https://app.mercial.io" primary inline>Download!</a>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="false">
        <mz-collapsible-item-header>
          Business
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Mercial for Businesses is just what your business needs! Upload unique coupons and receive money back each time the coupon is used!
          Mercial for Businesses allows business owners to upload offers and coupons for their shops. By doing so, businesses will receive new clients, more traffic, and money back for doing so! Upload offers to your shop, such as $10 off your least popular item, and let us do the rest. When users come into your shop, all you have to do is scan their QR Code with our provided in-app scanner and the offer will be validated. Also, you can ask users to review your products!
          <br>
          <br>
          <a target="_blank" href="https://apps.apple.com/us/app/mercial-for-businesses/id1466050143?ls=1" primary inline>Download iOS!</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.aurodim.mercialBusinesses" primary inline>Download Android!</a>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      <mz-collapsible-item [active]="false">
        <mz-collapsible-item-header>
          Creator
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          If you're looking to advertise your most recent album, your painting, your hobby, your channel, then Mercial is the platform for you! Whether you're an artist wanting to grow your music, a construction working looking to put your business our there, or even a developer looking to let your app be known, Mercial for Advertisers is the application for you! Upload your videos for a small price depending on the duration of your video. You are only charged after your video has been completely viewed. In order to upload a video, you must be registered but creating an account is completely FREE.
          <br>
          <br>
          <a target="_blank" href="https://apps.apple.com/us/app/mercial-for-advertisers/id1466050088?ls=1" primary inline>Download iOS!</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.aurodim.mercialAdvertisers" primary inline>Download Android!</a>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
  </mz-modal-content>
</mz-modal>
