.device-container {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 30px);
  padding-top: 30px;
  min-width: 300px;
}

.device {
  max-height: 600px;
  transition: 0.5s;
}

.device[pop]:hover {
  transform: scale(1.05);
}

.text-container {
  flex-basis: 60%;
  margin-top: 10vh;

  &.no-image {
    margin-top: 0;

    & > .title {
      margin-top: 0px;
    }

    & > .banner {
      margin-bottom: 0px;
    }
  }

  &.sided {
    flex-basis: 30%;
  }

  * {
    line-height: normal;
  }
}

.text-container > .title {
  color: var(--primary);
  font-size: 5rem;
  font-weight: lighter;
}

.text-container >.subtitle {
  position: relative;
  right: 10px;
  font-size: initial;
  font-weight: 400;
  margin-top: -15px;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.text-container > .text {
  margin-top: 20px;
  padding-right: 50px;
  position: relative;
  right: 10px;
  color: #777;
}

.text-container > .banner {
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10vh;
  position: relative;
  right: 10px;
  color: #663399;

  &.centerize {
    justify-content: space-evenly;
  }
}

.rounded {
  background: #333;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 0.063em 0.625em 0.063em rgba(0,0,0,0.1);
}

.google-download * {
  height: 60px;
}

@media (max-width: 999px) {
  .text-container {
    margin-top: 40px;
    flex-basis: 80%;
    text-align: center;
    margin-bottom: 10vh;

    &.sided {
      flex-basis: 80%;
    }
  }

  .text-container > .subtitle {
    right: 0;
  }

  .text-container > .text {
    right: 0;
    padding-right: 0;
  }

  .text-container > .banner {
    right: 0;
  }
}
