<div class="tb" flat>
  <span no-collapse class="tb-spacer"></span>
  <button no-collapse class="tb-btn ripple mlr-small" ripple-color type="button" routerLinkActive="tb-active-link" [routerLinkActiveOptions]="{exact:true}">
    <a nested class="tb-link" routerLink="/" queryParamsHandling="merge"></a>
    {{ 'home' | translate }}
  </button>
  <button no-collapse class="tb-btn ripple mlr-small" ripple-color type="button" routerLinkActive="tb-active-link">
    <a nested class="tb-link" routerLink="/locations"></a>
    Locations
  </button>
  <button no-collapse class="tb-btn ripple mlr-small" ripple-color type="button" routerLinkActive="tb-active-link">
    <a nested class="tb-link" routerLink="/helper"></a>
    Tutorials
  </button>
  <button no-collapse class="tb-btn ripple mlr-small" ripple-color type="button" routerLinkActive="tb-active-link">
    <a nested class="tb-link" routerLink="/faqs"></a>
    FAQs
  </button>
  <button no-collapse class="xs-remove tb-btn ripple mlr-small" ripple-color type="button">
    <a nested class="tb-link" target="_blank" href="https://www.aurodim.com/#about"></a>
    Aurodim LLC
  </button>
  <button no-collapse class="tb-btn ripple mlr-small" ripple-color type="button" routerLinkActive="tb-active-link">
    <a nested class="tb-link" routerLink="/legal" queryParamsHandling="merge"></a>
    {{ 'legal' | translate }}
  </button>
</div>
