.tb {
  background-color: var(--primary);
  min-height: 64px;
  height: auto;
  width: 100%;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 12.5px;
  padding-right: 12.5px;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;
}

.tb[flat] {
  box-shadow: none;
  background-color: transparent;
}

.tb[flat] .tb-btn {
  color: var(--primary);
}

.tb-active-link {
  font-weight: 700;
  cursor: default;
}

.tb-menu {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.tb-spacer {
  flex: 1 1 auto;
}

.tb-btn {
  height: 42px;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 80px;
  transition: all 0.5s ease-in-out;
}

.tb-btn:hover {
  transform: scale(1.1);
  font-size: 16px;
}

@media (max-width: 500px) {
  .tb-btn:hover {
    transform: none !important;
    font-size: 14px !important;
  }
}

.tb-btn-round {
  height: 44px;
  border: none;
  border-radius: 22px;
  position: relative;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-link {
  position: absolute;
  top: 0;
  left: 0;
}

.tb-text {
  color: white;
  font-size: 16px;
}

@media (max-width: 900px) {

  .tb-spacer[collapsable] {
    width: 100%;
  }

  .tb {
    padding: 0;
  }

  .tb-btn:not([no-collapse]) {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 775px) {
  .tb-btn {
    min-width: 50px;
  }

  .tb-btn[no-collapse] {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
}

@media (max-width: 600px) {
  .tb-spacer[no-collapse] {
    display: none;
  }

  .xs-remove {
    display: none;
  }
}

@media (max-width: 340px) {
  .tb-active-link {
    display: none;
  }
}
