<div class="flexible center">
  <h2 *ngIf="!finished">Verifying Stripe...</h2>
  <h2 *ngIf="success">Success Verifying!</h2>
  <h2 error *ngIf="error">Error Verifying...</h2>
  <div class="container" *ngIf="!finished">
    <div class="dot dot-1"></div>
    <div class="dot dot-2"></div>
    <div class="dot dot-3"></div>
  </div>

  <svg *ngIf="!finished" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
      </filter>
    </defs>
  </svg>
</div>
