.card {
  width: 60%;

  &.little {
    width: 32%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media(max-width: 600px) {
  .card {
    width: 90%;

    &.little {
      width: 90%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

}

.list-header {
  font-size: 18px;
}

.upcoming {
  opacity: 0.5;
}

ul {
  list-style-type: disc;
  margin-left: 30px;
  display: block;

  & li {
    list-style-type: disc !important;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
