<div class="chip-container flexible centerize no-back no-height">
  <mz-chip
    [close]="true"
    (delete)="onDelete('client')">
    <img src="assets/person.png">
    User
  </mz-chip>
  <mz-chip
    [close]="true"
    (delete)="onDelete('business')">
    <img src="assets/business.png">
    Business
  </mz-chip>
  <mz-chip
    [close]="true"
    (delete)="onDelete('advertiser')">
    <img src="assets/advertiser.png">
    Advertiser
  </mz-chip>
</div>
<div class="break" small></div>
<div class="flexible no-back">
  <mz-card clickable (click)="openVideo(i, videoModal)" *ngFor="let tutorial of tutorials; let i = index" class="card" [horizontal]="false" [hoverable]="false">
    <mz-card-image>
      <img src="https://res.cloudinary.com/aurodim/video/upload/w_500/mercial/static/explainers/{{tutorial.param}}.png" />
    </mz-card-image>
    <mz-card-title>
      <div class="material-icons icon" *ngIf="tutorial.type.includes('advertiser')">video_library</div>
      <div class="material-icons icon" *ngIf="tutorial.type.includes('client')">person</div>
      <div class="material-icons icon" *ngIf="tutorial.type.includes('business')">store</div>
      <div class="material-icons icon" *ngIf="tutorial.type.includes('all')">public</div>
      {{ tutorial.title }}
    </mz-card-title>
    <mz-card-content>
      {{ tutorial.description }}
      <br/>
      <br/>
      <span class="subtitle">{{ tutorial.updated }}</span>
    </mz-card-content>
  </mz-card>
</div>

<mz-modal #videoModal [fixedFooter]="false" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h5>{{ selectedVideo?.title }} <br> <span style="font-size: 14px" primary>{{selectedVideo?.description}}</span></h5>
  </mz-modal-header>
  <mz-modal-content>
    <video *ngIf="selectedVideo" class="tutorial-video" controlsList="nodownload" poster="https://res.cloudinary.com/aurodim/video/upload/w_500/mercial/static/explainers/{{selectedVideo?.param}}.png" autoplay controls>
      <source src="https://res.cloudinary.com/aurodim/video/upload/mercial/static/explainers/{{selectedVideo?.param}}">
        Your browser does not support the video tag.
    </video>
  </mz-modal-content>
</mz-modal>
