/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

:root {
  --primary: #663399;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  min-width: 320px;
}

.fd-container-full {
  position: relative;
  height: calc(100% - 64px);
  overflow: auto;
}

*[primary] {
  color : var(--primary) !important;
}

*[white] {
  color : white !important;
}

*[cursive] {
  font-display: auto;
  font-family: 'Satisfy', cursive !important;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  font-display: auto;
  font-family: 'Open Sans', sans-serif;
}

*[faq-text] > a, *[faq-text] > i {
  color: var(--primary);
}

mercial-loader[inline] {
  z-index: 10000;
}

*[clickable] {
  cursor: pointer;
}

*[invisible="true"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a[nested] {
  width: 100%;
  height: 100%;
}

a[inline] {
  color: var(--primary);
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.bold {
  font-weight: bold;
}

.break {
  width: 100%;
  display: block;
}

.break[small] {
  height: 25px;
}

.break[medium] {
  height: 50px;
}

.break[large] {
  height: 75px;
}

.mtb-extrasmall {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mtb-small {
  margin-top: 12.5px !important;
  margin-bottom: 12.5px !important;
}

.mtb-medium {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-header {
  margin-bottom: 50px !important;
}

.mlr-extra-small {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mlr-small {
  margin-left: 12.5px !important;
  margin-right: 12.5px !important;
}

.mlr-medium {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.mlr-large {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
  background-color: var(--primary);
}
.ripple:disabled {
  background-color: #D3D3D3 !important;
  pointer-events: none;
  color: white !important;
}
.ripple:hover {
  background: var(--primary) radial-gradient(circle, transparent 1%, var(--primary) 1%) center/15000%;
}
.ripple:active {
  background-color: #f7f7f7;
  background-size: 100%;
  transition: background 0s;
}

.fd-button[ripple-color="main"] {
  color: var(--primary);
}
.ripple[ripple-color] {
  background-position: center;
  transition: background 0.8s;
  background-color: #f7f7f7;
}
.ripple[ripple-color]:hover {
  background: #f7f7f7 radial-gradient(circle, transparent 1%, #f7f7f7 1%) center/15000%;
}
.ripple[ripple-color="main"]:active {
  background-color: var(--primary);
  background-size: 100%;
  transition: background 0s;
}

.fd-button[ripple-color="warning"] {
  color: red;
}
.ripple[ripple-color="warning"]:active {
  background-color: red;
  background-size: 100%;
  transition: background 0s;
}

/*
  Hereafter ripple color will default to white & ripple btn background will default to 22313F

  TO CHANGE use the following css in needed file(s)
  .ripple {
    background-color: #22313F; #background color
  }
  .ripple:hover {
    background: radial-gradient(circle, transparent 1%, #22313F 1%) center/15000%; #background color
  }
  .ripple:active {
    background-color: #fff; # ripple color
  }
*/

.flexible {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  background-image: url("https://res.cloudinary.com/aurodim/image/upload/mercial/static/wave.png");
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: calc(100% - 64px);
  height: auto;
  flex-wrap: wrap;
  background-size: contain;

  &.no-back {
    background-image: none;
  }

  &.no-height {
    height: auto;
    min-height: 40px;
  }

  &.centerize {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .flexible {
    background-image: url("https://res.cloudinary.com/aurodim/image/upload/mercial/static/wave-mobile.png");
  }
}

.card {
  border-radius: 14px !important;
  box-shadow: 0.063em 0.063em 0.938em 0.063em rgba(03, 07, 13, 0.4) !important; /* 1/16, 1/16, 15/16, 1/16 */

  & img {
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
  }
}

path#IL {
  fill: rgba(102,51,153, 1) !important;
  stroke: rgba(102,51,153, 1) !important;
}
